* {
    font-family: "Roboto", "Calibri", sans-serif;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    color: white;
}

.top-row {
    flex-direction: row;
}

.logo
.main-text {
    color: #F9FAF8
}

.logo {
    font-size: 24px;
    text-align: left;
}

.main-text
.image-title {
    font-weight: bolder;
}

.main-text {
    font-size: 48px;
}

.secondary-text,
.link,
.footer, 
.sign-up {
    font-size: 18px;
    color: #E5E7EB;
}

.link {
    color: #e5e7eb;
    text-align: right;
    padding: 10px;
}
/*Why aren't the links showing in this colour?*/

.image-section,
.quote,
.intro,
.sign-up {
    padding: 30px;
}

.image-title,
.quote {
    font-size: 36px;
}

.image-title {
    color: #1f2937;
    font-size: 22px;
    text-align: center;
    flex-direction: column;
}

.images,
.intro {
    flex-direction: row;
}

.intro-left,
.intro-right {
    flex-direction: column;
}

.image-1 {
    margin: 15px;
    flex-direction: column;
}

.caption {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    font-style: italic;
    font-weight: lighter;
}

.source {
    font-weight: bold;
    text-align: right;
}


.button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
}

/* button needs size fixing, and aligning centrally in its column*/

.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 30px;
    flex-direction: row;
}

.sign-up-text {
    flex-direction: column;
}

/*There's some depth here I haven't grasped about why I can't have the button and sign-up
statements together - investigate later*/