* {
    font-family: "Roboto", "Calibri", sans-serif;
}

.hero {
    background-color: #1F2937;
    color: white;
}

.logo
.main-text {
    color: #F9FAF8
}

.logo {
    font-size: 24px;
}

.main-text
.title {
    font-weight: bolder;
}

.main-text {
    font-size: 48px;
  
}

.secondary-text,
.link,
.footer, 
.sign-up {
    font-size: 18px;
    color: #E5E7EB;
}

.link {
    color: #e5e7eb
}
/*Why aren't the links showing in this colour?*/

.images,
.quote,
.intro {
    padding: 30px;
}

/*.quote {
    padding: 30px;
}

.intro {
    padding: 30px;
}

.images {
    padding: 30px;
} */

.title,
.quote {
    font-size: 36px;
}

.title {
    color: #1f2937;
    font-size: 22px;
    text-align: center;
}

.caption {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    font-style: italic;
    font-weight: lighter;
}

.source {
    font-weight: bold;
    text-align: right;
}


.button {
    background-color: #3882F6;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 30px;
}

/*There's some depth here I haven't grasped about why I can't have the button and sign-up
statements together - investigate later*/