* {
    font-family: "Roboto", "Calibri", sans-serif;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    color: white;
    padding: 10px;
}

.top-row,
.links {
    flex-direction: row;
}

.logo
.main-text {
    color: #F9FAF8
}

.logo {
    font-size: 24px;
    text-align: left;
    margin-right: auto;
}

.main-text
.image-title {
    font-weight: bolder;
}

.main-text {
    font-size: 48px;
}

.secondary-text,
.link,
.footer, 
.sign-up {
    font-size: 18px;
    color: #E5E7EB;
}

.secondary-text {
    width: 400px;
}

.links {
    color: #e5e7eb;
    gap: 10px;
    justify-content: flex-end;
}
/*Why aren't the links showing in this colour?*/

.image-section,
.quote,
.intro,
.sign-up {
    padding: 30px;
}

.image-title,
.quote {
    font-size: 36px;
}

.image-title {
    color: #1f2937;
    font-size: 22px;
    text-align: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.images,
.intro {
    flex-direction: row;
    justify-content: space-between;
}

.images {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.intro-left,
.intro-right {
    flex-direction: column;
   
}

.image-1 {
    margin: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caption {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    inline-size: 200px;
    
}

.quote {
    background-color: #e5e7eb;
    font-style: italic;
    font-weight: lighter;
}

.source {
    font-weight: bold;
    text-align: right;
}


.button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 30px;
    flex-direction: row;
    gap: 30px;
}

.sign-up .button {
    align-self: flex-end;
}

.sign-up-text {
    flex-direction: column;
    align-self: flex-start;
}

.p1 {
    font-weight: bold;
}

/* Things I would have liked to have done given more time:
- investigate why the links wouldn't turn white
- why does the title 'seals' appear at the top of the page?
- change the buttons to fit the size of the text
- choose a new image for the 'seals are awesome' hero
- get the lower 'sign up' button to be level with the 'sign up to receive...' text
- restructure the whole of the html. Does everything need to be div, or are better labels out there?